/* reset */

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}


body {
  background-color: grey;
  border: 1px solid blue;
}

#site-main {

}

#splash {
  text-align: center;
}

.splash-title {
  
}

.start-btn {

}

#game {
  display: flex;
  flex-wrap: wrap;
  text-align: center;  
}

#game-over {
  text-align: center; 
}

.game-over-title {

}

.play-again-btn {
     
}

.img-div {
  display: flex;
}
