/* reset */

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
  font-family: 'Orbitron', sans-serif;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}


body {
  background-color: grey;
  border: 1px solid blue;
  background: url(../img/background2.jpg);
  background-position:center;
}

#site-main {

}

#splash,
#game-over {
  border: 1px solid red;
  text-align: center;
  font-size: 25px;
  color: white;
  margin-top: 100px;
}

.splash-title {
  
}

.start-btn,
.play-again-btn {
  background-color: white
  border-style: solid;
  border-color: transparent;
  text-transform: uppercase;
  font-family: 'Orbitron', sans-serif;
  padding: 10px;
  border-radius: 15px;
}

#game {
  margin-top: 75px;
  padding-left: 10%;
  padding-right: 10%;
  border: 1px solid red;
  text-align: center;
  font-size: 25px;
  color: white;
}

.header-container {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  position: fixed;
  height: 75px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.83);
  color: white;
  font-size: 25px;
  top: 0;
  border: 1px solid rgb(255, 255, 255);
}

/* .header-container {

  border: 1px solid white;
  align-items: center;
} */

.timer-container {
  display: flex;
  float: left;
  border: 1px solid white;
}

.timer-label{

}

.timer-print {
  width: 45px;
  margin-left: 10px;
}

.level-container {
  width: 100%;
  display: block;
  float: left;
  text-align: center;
  border: 1px solid white;
}

.score-container {
  display: block;
  float: right;
  border: 1px solid white;
}

.score-label {

}

.score-print {

}

.game-title {
  height: 50px;
  padding-top: 15px;
  background-color: azure;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hidden {
  margin: 15px;
  opacity: 0.5;
}

.game-over-title {

}

img {
  /* display: none; */
  /* visibility: hidden; */
}

.img-div {
  background: url(../img/ironhack.png);
  background-size: contain;
  margin: 15px;
  height: 202px;
  width: 202px;
}

.image-hidden {
  display: none;
}

.image-shown {
  visibility: visible;
}